<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<link rel="stylesheet" href="{{MEDIA_URL}}css/colorbox.css">
<script src="{{MEDIA_URL}}JS/colorbox.js"></script> 

</head>	
<body>	
<form id="upload_form" enctype="multipart/form-data" method="post" action=".">
                                {% csrf_token %}
           <input type='file' name='file' id='file' />
           <input type='button' value='Upload'  id='upload'/>
    </form>
<img src="{{MEDIA_URL}}css/images/loading.gif" id="show_it" style="display: none;" />
<script type="text/javascript">
$(document).ready(function() {
	$('#upload').click(function() {
		var field = document.getElementById('file');
		var form = document.getElementById('upload_form');
	    upload_url = 'ajax_upload/';
	    file = field.files[0];
	    $('#show_it').show();
	    var formdata = new FormData(form);
	    formdata.append('file_upload', field);
	    $.ajax({
	        url: upload_url,
	        type: 'POST',
	        data: formdata,
	        processData: false,
	        contentType: false,
	        success: 
	        
	         function(msg){
					$('#show_it').hide();
	        		alert('Image uploaded successfully');
			 		console.log('success!')
			 }              	
	    	});
	});
});
$(document).ready(function() {
	$(".group1").colorbox({rel:'group1'});
});
	
</script>
	</body>
</html>