<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<link rel="stylesheet" href="{{MEDIA_URL}}css/colorbox.css">
<script src="{{MEDIA_URL}}JS/colorbox.js"></script> 

</head>	
<body>	

	<a href="/secondpage/" class="group1"  >Click Here to Open colorbox</a>
 <script>
$(document).ready(function() {
	$(".group1").colorbox({rel:'group1'});
});
	
</script>
	</body>
</html>